body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.top-banner {
    display: flex;
    padding: 5% 0%;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.top-banner .first {
    width: 50%;
    padding: 0% 5%;
}

.top-banner .first h1 {
    font-size: 50px;
    margin: 0px;
}

.top-banner .first .somo {
    color: #FFAF29;
}

.top-banner .first h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.top-banner .first p {
    margin: 25px 0px;
    padding-right: 5%;
}

.top-banner .first a {
    text-decoration: none;
    background-image: linear-gradient(#F78969, #FB6555);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
}

.top-banner .second {
    width: 50%;
}

.top-banner .second img {
    width: 70%;
    padding-left: 10%;
}

/* ///////////////////////////// */
.mid-banner {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 5% 0%;
    display: flex;
}

.mid-banner .mid-first {
    width: 50%;
    padding: 0% 5%;
}

.mid-banner .mid-first img {
    width: 70%;
}

.mid-banner .mid-sec {
    width: 50%;
}

.mid-banner .mid-sec h1 {
    font-size: 50px;
    margin: 0px;
}

.mid-banner .mid-sec h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.mid-banner .mid-sec p {
    margin: 25px 0px;
    padding-right: 17%;
}

.mid-banner .mid-sec a {
    text-decoration: none;
    background-image: linear-gradient(#F78969, #FB6555);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
}

/* ///////////////////////////// */
.experince {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 5% 0% 10%;
}

.experince h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.experince .flexible-section {
    padding: ;
    display: flex;
}

.experince .flexible-section .full-stack {
    width: 49%;
    margin-left: 5%;
    margin-right: 2.5%;
    padding: 30px 30px 100px;
    box-shadow: 10px 10px 30px gray;
    border-left: 8px solid;
    border-image: linear-gradient(#F78969, #FB6555);
    border-image-slice: 1;
}

.experince .flexible-section .full-stack h1 {
    font-size: 40px;
    text-align: left;
}

.experince .flexible-section .full-stack h3 {
    color: #FFAF29;
}

.experince .flexible-section .baby-developer {
    width: 49%;
    margin-right: 5%;
    margin-left: 2.5%;
    padding: 30px 30px 100px;
    box-shadow: 10px 10px 30px gray;
    border-left: 8px solid;
    border-image: linear-gradient(#000CFF, #00F3FF);
    border-image-slice: 1;
}

.experince .flexible-section .baby-developer h1 {
    font-size: 40px;
    text-align: left;
}

.experince .flexible-section .baby-developer h3 {
    color: #FFAF29;
}

footer {
    padding: 1% 0%;
    text-align: center;
}
